<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dubbo.mapper.GoodsBrandMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.github.dubbo.model.GoodsBrand">
		<id column="id" property="id" />
		<result column="brand_name" property="brandName" />
		<result column="brand_desc" property="brandDesc" />
		<result column="order_num" property="orderNum" />
		<result column="is_show" property="isShow" />
		<result column="logo" property="logo" />
		<result column="create_date" property="createDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id,brand_name,brand_desc,order_num,is_show,logo,create_date
	</sql>

    <select id="selectBrandList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_brand
    </select>
</mapper>
