<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dubbo.mapper.GoodsCategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.github.dubbo.model.GoodsCategory">
		<id column="id" property="id" />
		<result column="category_name" property="categoryName" />
		<result column="grade" property="grade" />
		<result column="parent" property="parent" />
		<result column="order_num" property="orderNum" />
		<result column="status" property="status" />
		<result column="create_date" property="createDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id,category_name,grade,parent,order_num,status,create_date
	</sql>

	<insert id="insertGoodsCategory" parameterType="com.github.dubbo.model.GoodsCategory"
		useGeneratedKeys="true" keyProperty="id">
		insert into goods_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			category_name,
			grade,
			<if test="parent != null and parent>0 ">parent,</if>
			order_num,
			status
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{categoryName},
			#{grade},
			<if test="parent != null and parent>0 ">#{parent},</if>
			#{orderNum},
			#{status}
		</trim>
	</insert>

	<select id="selectCategoryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goods_category
	</select>
</mapper>
