<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="dubbo-consumer" />
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />
	<!-- 另外开发、测试环境可通过指定Url方式绕过注册中心直连指定的服务地址，避免注册中心中服务过多，启动建立连接时间过长 -->
<!-- 	<dubbo:reference interface="com.github.dubbo.service.PingService"
		version="1.0" id="pingService" url="dubbo://127.0.0.1:20880/"></dubbo:reference> -->

	<!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
	<dubbo:reference interface="com.github.dubbo.service.PingService"
		version="1.0" id="pingService" />
</beans>